# ignore IDE setting files
.vscode/
.vs/
# ignore build directories
build-debug/
build-release/
build-size/
out/
# ignore test files
bin/
*.txt
!CMakeLists.txt
*.log

src/main.cpp

*.bin
*.ps1
*.bat
*.claude